name: Generate Snake

on:
  schedule:
    - cron: "0 */12 * * *" # A cada 12 horas
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate Snake SVG
        uses: Platane/snk@v3
        with:
          github_user_name: star-shield
          outputs: |
            ./output/github-contribution-grid-snake.svg
            ./output/github-contribution-grid-snake-dark.svg?palette=github-dark

      - name: Upload to GitHub
        uses: EndBug/add-and-commit@v9
        with:
          default_author: github_actions
          message: "Generate Snake Animation"
          add: "output/*.svg"
